body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  position: relative;
  cursor: pointer;
}

.responses,
.map {
  display: inline-block;
  width: 500px;
  height: 90vh;
  overflow: auto;
}

.responses {
  background-color: #4285f4;
  color: white;
  float: left;
  resize: horizontal;
  border: 2px solid #fff;
  height: 95%;
}

td {
  padding: 5px;
}

.td-resize {
  resize: both;
  overflow: auto;
}

tr.active {
  background: #fff;
  color: black;
}

tr.default {
  border: 2px solid #fff;
}

.map {
  border: 2px solid #fff;
  float: right;
  direction: rtl;
  resize: horizontal;
}

h6,
p {
  color: black;
}

p {
  background-color: white;
}